body {
    padding-top: 50px;
    height: 100%;
}

/* Header 1 Style */
.h1Style {
    font-weight: bold;
}

/* NavBar Style */
.navBarStyle {
    background-color: #01579B;
}

/* Login Style */
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px black;
    overflow: hidden;
}

/* Warning Style */
.warning {
    color: #a94442;
}

/* Red Cross */
.redCross {
    background-color: #E53935;
    cursor: pointer;
    font-size: 14px;
}

/*Footer Style */
.footerPage {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #01579B;
    color: white;
    margin-top: 10px;
}

.starter-template {
    padding: 15px 15px;
    text-align: center;
}

#repoSearchInput {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Color */
.indigo {
    background-color: #5C6BC0;
}

/* Color */
.danger {
    background-color: #E53935;
}

#deleteModal {
    margin-top: 100px;
}

#deleteModal button {
    color: white;
}