<div class="starter-template">
    <h1 class="h1Style">Create Repository</h1>
    <div style="margin-top: 40px;">
        <form name="createForm" class="form-inline" ng-submit="submitCreate()" novalidate>
            <div class="form-group">
                <div class="input-group" ng-class="{ 'has-error' : createForm.name.$invalid && !createForm.name.$pristine }">
                    <input type="text" class="form-control" placeholder="Name" name="name" ng-minlength="2" ng-model="repo.name" required>
                    <p ng-show="createForm.name.$invalid && !createForm.name.$pristine" class="help-block">Enter a valid name</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">Create</button>
            <span us-spinner spinner-key="createSpinner" spinner-start-active="false"></span>
            <br/>
            <label style="margin-top: 10px;">
                ACL ramassage-tek
                <input type="checkbox" ng-model="checkboxModel.aclRamassage">
            </label>
        </form>
    </div>
</div>

<!-- Create Modal -->
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Status</h4>
            </div>
            <div class="modal-body">
                <p class="bg-success" ng-if="!createError">{{repo.name}} successfully created !</p>
                <p class="bg-danger" ng-if="createError">{{repo.name}} not created !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login</h1><br>
            <form name="userForm" ng-submit="submitForm()" novalidate>
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
                <!-- PASSWORD-->
                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" required>
                </div>
                    <p ng-show="logError" class="warning">Wrong Email or Password</p>
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Login</button>
                <span us-spinner spinner-key="loginSpinner" spinner-start-active="false"></span>
            </form>
        </div>
    </div>
</div>