<div class="starter-template">
    <h1 class="h1Style">Repository List</h1>
    <input type="text" class="form-control" id="repoSearchInput" placeholder="Repo Name" ng-model="repoName">
    <ul class="list-group" style="padding: 20px;">
        <li class="list-group-item" ng-repeat="repository in repositoryList | filter:repoName">
            {{ repository }}
            <span class="badge redCross" ng-click="deleteEvent(repository)">&#10006;</span>
            <span class="badge indigo" ng-click="goToAcl(repository)" style="cursor: pointer;">ACL</span>
            <span class="badge indigo" ng-click="goToGit(repository)" style="cursor: pointer;">Clone</span>
        </li>
    </ul>
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span type="button" class="close" ng-click="closeModalEvent()">&#10006;</span>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Are you sure your want to delete <strong>{{ deleteRepoName }}</strong> ?
                </div>
            <div class="modal-footer">
                <button type="button" class="btn indigo" ng-click="deleteRepoEvent()">Delete</button>
                <button type="button" class="btn danger" ng-click="closeModalEvent()">Cancel</button>
                <span us-spinner spinner-key="deleteSpinner" spinner-start-active="false"></span>
            </div>
        </div>
    </div>
</div>